/*style.css*/

.odd {
    background-color:#FF7F7F;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.font24 {
    font-size: 24px;
}

#elem2 {
    color: blue;
    font-size: 36px;
}


#elem4 {
    background-color: lightgreen;
    font-weight: bold;
}